<article class="weui-article main">
  <div class="swiper-container" >
    <section class="swiper-wrapper">
        <p class="photo_item swiper-slide">
          <%=image_tag "workstop1.jpg", id:"poster1"%>
        </p>
        <p class="photo_item swiper-slide">
          <%=image_tag "workstop2.jpg", id:"poster2" %>
        </p>
    </section>
    <div class="swiper-pagination"></div>
  </div>
</article>
