<article class="weui-article main">
  <div class="swiper-container" >
    <section class="swiper-wrapper">

        <p class="photo_item swiper-slide">
          <%=link_to "/review" do %>
            <%=image_tag "poster1.jpg", id:"poster2" %>
          <%end%>
        </p>
        <p class="photo_item swiper-slide">
          <%=link_to new_activity_photograph_path(@activity), remote:true do %>
            <%=image_tag "poster2.jpg", id:"poster3" %>
          <%end%>
        </p>
    </section>


    <div class="swiper-pagination"></div>
  </div>
</article>
