<% links=["$.ajax({url:'#{new_activity_photograph_path(@activity)}',dataType:'script'});", "/review"]%>
<article class="weui-article main">
  <div class="swiper-container" >
    <section class="swiper-wrapper">
      <%3.times do |index|%>
        <p class="photo_item swiper-slide">
          <%=image_tag "poster"+(index+1).to_s+".jpg", id:"poster"+(index+1).to_s%>
        </p>
      <%end%>
    </section>
    <%=link_to new_activity_photograph_path(@activity), remote:true do %>
      <div id="text1" style="border:2px solid #006934;z-index:50;text-align:center;color:#90633c;position:absolute;top:0px;left:0;padding:5px 30px;">我要参赛</div>
    <%end%>
    <%=link_to "/review" do %>
      <div id="text2" style="border:2px solid #006934;z-index:50;text-align:center;color:#90633c;position:absolute;top:0px;left:0;padding:5px 30px;;display:none;">了解详情</div>
    <%end%>
    <div class="swiper-pagination"></div>
  </div>
</article>
