<article class="weui-article">
  <section>
    <%3.times do |index|%>
    <p class="photo_item" <% if index > 0%>style="display:none;"<%end%>>
      <%=image_tag "poster"+(index+1).to_s+".jpg"%>
    </p>
    <%end%>
  </section>
</article>
