<article class="weui-article">
  <div id="myCarousel" class="carousel slide" >
    <!-- 轮播（Carousel）指标 -->

  <section class="carousel-inner">
    <%3.times do |index|%>
    <p class="photo_item item" <% if index > 0%>style="display:none;"<%end%>>
      <%=image_tag "poster"+(index+1).to_s+".jpg", class: "d-block img-fluid"%>
    </p>
    <%end%>
  </section>
  </div>
</article>
