<article class="weui-article main">
  <div class="swiper-container" >
    <section class="swiper-wrapper">
      <%3.times do |index|%>
      <p class="photo_item swiper-slide">
        <%=image_tag "poster"+(index+1).to_s+".jpg"%>
      </p>
      <%end%>
    </section>
   <div class="swiper-pagination"></div>

  </div>
</article>
