@import "weui";
@import "jquery-weui-custom";
@import "swiper.min";
@import "font-awesome";
.weui-tab{
  background-color: #e8e8e8;
}

.weui-cells{
  background-color: #e8e8e8;
}
.weui-input{
  background-color: #e8e8e8;
  border: solid 1px #d9d9d9;
}
.weui-textarea{
  background-color: #e8e8e8;
  border: solid 1px #d9d9d9;
}

.weui-btn_primary {
    background-color: #006934;
    color: #f3d4a1;
}

.weui-dialog{
  max-width:500px;
  position:absolute;
}
.footer_on{
/*  background-color: #f3d4a1;*/
background-repeat: no-repeat;
background-size: 100%;
  text-align:center;
  color: #006934;
}

.footer_off{
  /* background-color: #006934;*/
  background-repeat: no-repeat;
  background-size: 100%;
  text-align:center;
  color: #f3d4a1;
}
.footer_text{
  font-size:0.7em;
}
.home_on{
  background-image:image-url("home_on.jpg")
}
.home_off{
  background-image:image-url("home_off.jpg")
}
.work_on{
  background-image:image-url("work_on.jpg")
}
.work_off{
  background-image:image-url("work_off.jpg")
}
.upload_on{
  background-image:image-url("upload_on.jpg")
}
.upload_off{
  background-image:image-url("upload_off.jpg")
}
.back_on{
  background-image:image-url("back_on.jpg")
}
.back_off{
  background-image:image-url("back_off.jpg")
}
.account_on{
  background-image:image-url("account_on.jpg")
}
.account_off{
  background-image:image-url("account_off.jpg")
}

.countdown{
  float:left;
  margin:2px;
  padding:0 2px;
  width:20px;
  color:white;
}

.weui-article section {
  background-color: #ffffff;
  margin-bottom: 0;
}

.wcpc_content {
  float:left;
  margin-bottom:20px;
  width:100%;
}

.round {
  border-radius:50%;
}
.main{
  padding: 0px;
}
.main .swiper-pagination.swiper-pagination-clickable{

  top:auto;
  bottom: 24px;
  .swiper-pagination-bullet
  {
    background-color: #006934;
  }
  .swiper-pagination-bullet-active
  {
    background-color: #f3d4a1;
  }
}

.swiper-pagination-bullet{
  border-radius:0;
  width:100px;
  height:5px;
  background:#006934 none repeat scroll 0 0;
  opacity:1;
}
.swiper-pagination-bullet-active{
  background:#f3d4a1 none repeat scroll 0 0;
  opacity:1;
}

.ranking_table {
  padding: 10px;
  border-bottom:2px solid #006934;
}
table.activity_info td{
  padding:5px 10px;
  background-color:white;
}

table.activity_info a{
  color:black;
}

.weui-popup__container .close-popup
{
  top: 20px;
  right: 20px;
  z-index: 503;
  .weui-icon-cancel
  {
    font-size: 27px;
  }
}
.weui-popup__container  .weui-popup__modal{
  background-color: #ffffff;
  left: 20px;
  right: 20px;
  top:20px;
  width: auto;
  height: auto;
  bottom: 80px;
  z-index: 502;
  border-radius: 0px;
}
.weui-popup__overlay
{
  background-color: #000000;
  opacity: 0.7;
  z-index: 501;
}
.main .swiper-pagination.swiper-pagination-clickable {
  //bottom:50px;
}
label.error{color:red;}
