@import "weui";

.weui-btn_primary {
    background-color: #016934;
    color: #f5d09d;
}

.countdown{
  float:left;
  margin:5px;
  padding:0 10px;
  width:30px;
  color:white;
}

.weui-article section {
  background-color: #ffffff;
  margin-bottom: 0;
}

.wcpc_content {
  background-color: #e8e8e8;
  padding:5px;
  float:left;
  margin-bottom:20px;
}
